[submodule "ext/Catch2"]
    path = ext/Catch2
    url = https://github.com/catchorg/Catch2.git
[submodule "ext/glfw"]
    path = ext/glfw
    url = https://github.com/glfw/glfw.git
[submodule "ext/fmt"]
	path = ext/fmt
	url = git@github.com:fmtlib/fmt.git
